my-timesheet-app/src/scripts/n8n/workflows/001_sincronizacion_completa_smart.json
{
  "name": "001_sincronizacion_completa_smart",
  "nodes": [
    {
      "parameters": {},
      "id": "39aa407c-5cf0-46d8-8f93-44dc86d24750",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        384
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            { "keyName": "company_name", "condition": "eq", "keyValue": "Power Solution Iberia SL" },
            { "keyName": "entity", "condition": "eq", "keyValue": "job_task" }
          ]
        }
      },
      "id": "b2f1a7c3-0c4d-4e2a-9a1b-00aa11bbcc10",
      "name": "Get sync_state (tasks)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [224, 864],
      "credentials": { "supabaseApi": { "id": "Qa0kL8CVFxjwQVZ5", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : [i.json]); if (rows.length === 0) { return [{ json: { lastSyncIso: '1970-01-01T00:00:00Z' } }]; } const row = rows[0]; const last = row.last_sync_at || '1970-01-01T00:00:00Z'; const iso = new Date(last).toISOString(); return [{ json: { lastSyncIso: iso } }];"
      },
      "id": "a1b2c3d4-e5f6-47a8-9b0c-112233445566",
      "name": "Compute last_sync ISO (tasks)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 864]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies(ca9dc1bf-54ee-ed11-884a-000d3a455d5b)/ProyectosTareas?$filter=lastModifiedDateTime%20ge%20' + $json.lastSyncIso }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": { "timeout": 60000 }
      },
      "id": "c7d8e9f0-1234-4abc-9def-77889900aabb",
      "name": "HTTP - ProyectosTareas (filtrado)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [672, 864],
      "credentials": { "oAuth2Api": { "id": "5caHilW1m87Snw87", "name": "Business Central" } }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all(); if (input.length === 0) return []; const data = input[0].json; const tareas = data.value || []; const items = []; for (const t of tareas) { const job_no = t.projectNo || t.jobNo || t.job_no || ''; const no = t.no || ''; const description = (t.description && String(t.description).trim()) ? String(t.description).trim() : 'Sin descripción'; if (!job_no || !no) continue; items.push({ json: { job_no, no, description, company_name: 'Power Solution Iberia SL' }, pairedItem: { item: 0 } }); } return items;"
      },
      "id": "dd11ee22-33ff-44aa-88bb-ccddeeff0011",
      "name": "Transformar ProyectosTareas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 864]
    },
    {
      "parameters": { "batchSize": 300, "options": {} },
      "id": "11223344-5566-7788-99aa-bbccddeeff00",
      "name": "Split In Batches (upsert tasks)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [1120, 864]
    },
    {
      "parameters": { "jsCode": "const rows = $input.all().map(i => i.json); return [{ json: { payload: rows } }];" },
      "id": "99aa88bb-77cc-66dd-55ee-44ff33221100",
      "name": "Pack batch (tasks)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1344, 864]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qfpswxjunoepznrpsltt.supabase.co/rest/v1/job_task?on_conflict=company_name,job_no,no",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmcHN3eGp1bm9lcHpucnBzbHR0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mzg3MTA3OSwiZXhwIjoyMDY5NDQ3MDc5fQ.PxpfuFsfvpeEPHCEiWhRn0SD1WxngTAEppJ-65QTTOQ" },
          { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmcHN3eGp1bm9lcHpucnBzbHR0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mzg3MTA3OSwiZXhwIjoyMDY5NDQ3MDc5fQ.PxpfuFsfvpeEPHCEiWhRn0SD1WxngTAEppJ-65QTTOQ" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": { "timeout": 60000 }
      },
      "id": "ab12cd34-ef56-7890-ab12-cd34ef567890",
      "name": "HTTP - Upsert job_task (Supabase REST)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1568, 864]
    },
    {
      "parameters": { "jsCode": "return [{ json: { nowIso: new Date().toISOString() } }];" },
      "id": "0f1e2d3c-4b5a-6978-8091-a2b3c4d5e6f7",
      "name": "Compute now ISO (tasks)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 672]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": { "conditions": [ { "keyName": "company_name", "condition": "eq", "keyValue": "Power Solution Iberia SL" }, { "keyName": "entity", "condition": "eq", "keyValue": "job_task" } ] },
        "fieldsUi": { "fieldValues": [ { "fieldId": "last_sync_at", "fieldValue": "={{ $json.nowIso }}" } ] }
      },
      "id": "13579bdf-2468-ace0-1357-9bdf2468ace0",
      "name": "Update sync_state (tasks)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 672],
      "credentials": { "supabaseApi": { "id": "Qa0kL8CVFxjwQVZ5", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "Power Solution Iberia SL"
            },
            {
              "keyName": "entity",
              "condition": "eq",
              "keyValue": "resource"
            }
          ]
        }
      },
      "id": "49034a25-4970-44e4-b1d3-5383cce84974",
      "name": "Get sync_state (resource)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        384
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Qa0kL8CVFxjwQVZ5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : [i.json]); if (rows.length === 0) { return [{ json: { lastSyncIso: '1970-01-01T00:00:00Z' } }]; } const row = rows[0]; const last = row.last_sync_at || '1970-01-01T00:00:00Z'; const iso = new Date(last).toISOString(); return [{ json: { lastSyncIso: iso } }];"
      },
      "id": "f423e88e-d9af-4621-8427-cf10d1b299ba",
      "name": "Compute last_sync ISO (resource)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        384
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies(ca9dc1bf-54ee-ed11-884a-000d3a455d5b)/Recursos?$filter=lastModifiedDateTime%20ge%20' + $json.lastSyncIso }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "timeout": 60000
        }
      },
      "id": "d2bba2f0-c796-4bac-92a2-eb42d6c453c5",
      "name": "HTTP - Recursos (filtrado)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        672,
        384
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "5caHilW1m87Snw87",
          "name": "Business Central"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nif (input.length === 0) return [];\n\nconst first = input[0];\nconst data = first.json;\nconst recursos = data.value || [];\nconst items = [];\n\nfor (const r of recursos) {\n  const code = r.no || '';\n  const name = r.name || '';\n  const email = String(r.arbvrneMail ?? r.email ?? '').trim();\n  const department = String(r.globalDimension1Code ?? r.department ?? '').trim();\n  const company = 'Power Solution Iberia SL';\n\n  // DESCARTAR si no hay email válido o no hay departamento\n  if (!email || !email.includes('@')) continue;\n  if (!department) continue;\n\n\n  items.push({\n    json: {\n      code,\n      name,\n      email,\n      department_code: department,\n      company_name: company,\n    },\n  });\n}\n\nreturn items;"
      },
      "id": "86de82f9-5696-441c-851b-5a262e3f7cbf",
      "name": "Transformar Recursos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        192
      ]
    },
    {
      "parameters": {
        "batchSize": 300,
        "options": {}
      },
      "id": "27a6e960-a488-4084-ac80-bcf3ee3505a8",
      "name": "Split In Batches (upsert)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1120,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => {\n  const j = i.json || {};\n  return {\n    ...j,\n    calendar_type: (j.calendar_type && String(j.calendar_type).trim())\n      || (j.calendarType && String(j.calendarType).trim())\n      || 'DEFAULT' // valor por defecto\n  };\n});\nreturn [{ json: { payload: rows } }];"
      },
      "id": "d4f36369-b4e2-43d4-a61b-2dff015a940a",
      "name": "Pack batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qfpswxjunoepznrpsltt.supabase.co/rest/v1/resource?on_conflict=company_name,code",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmcHN3eGp1bm9lcHpucnBzbHR0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mzg3MTA3OSwiZXhwIjoyMDY5NDQ3MDc5fQ.PxpfuFsfvpeEPHCEiWhRn0SD1WxngTAEppJ-65QTTOQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmcHN3eGp1bm9lcHpucnBzbHR0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mzg3MTA3OSwiZXhwIjoyMDY5NDQ3MDc5fQ.PxpfuFsfvpeEPHCEiWhRn0SD1WxngTAEppJ-65QTTOQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "84da5688-0f8d-4895-a018-f68230787496",
      "name": "HTTP - Upsert resource (Supabase REST)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1568,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { nowIso: new Date().toISOString() } }];"
      },
      "id": "9868ece8-037c-40fd-8ccb-0c4e261c5357",
      "name": "Compute now ISO (resource)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        576
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "Power Solution Iberia SL"
            },
            {
              "keyName": "entity",
              "condition": "eq",
              "keyValue": "resource"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_sync_at",
              "fieldValue": "={{ $json.nowIso }}"
            }
          ]
        }
      },
      "id": "5bfadbb7-1885-4141-81b5-bb17bc3d7ce7",
      "name": "Update sync_state (resource)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        576
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Qa0kL8CVFxjwQVZ5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            { "keyName": "company_name", "condition": "eq", "keyValue": "Power Solution Iberia SL" },
            { "keyName": "entity", "condition": "eq", "keyValue": "job" }
          ]
        }
      },
      "id": "a7f1c7a4-6f2e-4b12-9e9b-9d2e6d9a0001",
      "name": "Get sync_state (jobs)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [224, 96],
      "credentials": { "supabaseApi": { "id": "Qa0kL8CVFxjwQVZ5", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : [i.json]); if (rows.length === 0) { return [{ json: { lastSyncIso: '1970-01-01T00:00:00Z' } }]; } const row = rows[0]; const last = row.last_sync_at || '1970-01-01T00:00:00Z'; const iso = new Date(last).toISOString(); return [{ json: { lastSyncIso: iso } }];"
      },
      "id": "f5bb24f2-1d5a-41f6-88a1-9f11a2d50002",
      "name": "Compute last_sync ISO (jobs)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 96]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies(ca9dc1bf-54ee-ed11-884a-000d3a455d5b)/Proyectos?$filter=lastModifiedDateTime%20ge%20' + $json.lastSyncIso }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": { "timeout": 60000 }
      },
      "id": "8c5a2a2a-3c9c-47e8-9a7f-1e9a9f7b0003",
      "name": "HTTP - Proyectos (filtrado)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [672, 96],
      "credentials": { "oAuth2Api": { "id": "5caHilW1m87Snw87", "name": "Business Central" } }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all(); if (input.length === 0) return []; const data = input[0].json; const proyectos = data.value || []; const items = []; const allowed = new Set(['Open','Planning','Completed','Lost']); for (const p of proyectos) { const statusRaw = p.estado ?? p.Estado ?? p.status ?? ''; const status = String(statusRaw).trim(); if (!allowed.has(status)) continue; items.push({ json: { no: p.no || '', description: p.description || '', status, responsible: p.Responsible || p.responsible || '', departamento: p.departamento || p.GlobalDimension1Code || '', company_name: 'Power Solution Iberia SL' }, pairedItem: { item: 0 } }); } return items;"
      },
      "id": "0b4a7d2e-0c2a-4f39-9e0e-6f0c1a7b0004",
      "name": "Transformar Proyectos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 96]
    },
    {
      "parameters": { "batchSize": 300, "options": {} },
      "id": "f3a9c8b1-9d7f-4c1e-9a3a-1f2e3d4c0005",
      "name": "Split In Batches (upsert jobs)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [1120, 96]
    },
    {
      "parameters": { "jsCode": "const rows = $input.all().map(i => i.json); return [{ json: { payload: rows } }];" },
      "id": "a2b3c4d5-e6f7-4a8b-9c0d-123456780006",
      "name": "Pack batch (jobs)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1344, 96]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qfpswxjunoepznrpsltt.supabase.co/rest/v1/job?on_conflict=company_name,no",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmcHN3eGp1bm9lcHpucnBzbHR0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mzg3MTA3OSwiZXhwIjoyMDY5NDQ3MDc5fQ.PxpfuFsfvpeEPHCEiWhRn0SD1WxngTAEppJ-65QTTOQ" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmcHN3eGp1bm9lcHpucnBzbHR0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mzg3MTA3OSwiZXhwIjoyMDY5NDQ3MDc5fQ.PxpfuFsfvpeEPHCEiWhRn0SD1WxngTAEppJ-65QTTOQ" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": { "timeout": 60000 }
      },
      "id": "b7c8d9ea-0f1a-4b2c-9d3e-4567890a0007",
      "name": "HTTP - Upsert job (Supabase REST)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1568, 96]
    },
    {
      "parameters": { "jsCode": "return [{ json: { nowIso: new Date().toISOString() } }];" },
      "id": "c1d2e3f4-5a6b-7c8d-9e0f-112233440008",
      "name": "Compute now ISO (jobs)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, -96]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": { "conditions": [ { "keyName": "company_name", "condition": "eq", "keyValue": "Power Solution Iberia SL" }, { "keyName": "entity", "condition": "eq", "keyValue": "job" } ] },
        "fieldsUi": { "fieldValues": [ { "fieldId": "last_sync_at", "fieldValue": "={{ $json.nowIso }}" } ] }
      },
      "id": "d2e3f4a5-b6c7-8d9e-0f1a-223344550009",
      "name": "Update sync_state (jobs)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, -96],
      "credentials": { "supabaseApi": { "id": "Qa0kL8CVFxjwQVZ5", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": { "conditions": [ { "keyName": "company_name", "condition": "eq", "keyValue": "Power Solution Iberia SL" }, { "keyName": "entity", "condition": "eq", "keyValue": "job_team" } ] }
      },
      "id": "11112222-3333-4444-5555-666677778888",
      "name": "Get sync_state (team)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [224, 480],
      "credentials": { "supabaseApi": { "id": "Qa0kL8CVFxjwQVZ5", "name": "Supabase account" } }
    },
    {
      "parameters": { "jsCode": "const rows = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : [i.json]); if (rows.length === 0) { return [{ json: { lastSyncIso: '1970-01-01T00:00:00Z' } }]; } const row = rows[0]; const last = row.last_sync_at || '1970-01-01T00:00:00Z'; const iso = new Date(last).toISOString(); return [{ json: { lastSyncIso: iso } }];" },
      "id": "9999aaaa-bbbb-4ccc-8ddd-eeeeffff0001",
      "name": "Compute last_sync ISO (team)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 480]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies(ca9dc1bf-54ee-ed11-884a-000d3a455d5b)/ProyectosEquipos?$filter=lastModifiedDateTime%20ge%20' + $json.lastSyncIso }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": { "timeout": 60000 }
      },
      "id": "2222bbbb-cccc-4ddd-8eee-ffff00001111",
      "name": "HTTP - ProyectosEquipos (filtrado)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [672, 480],
      "credentials": { "oAuth2Api": { "id": "5caHilW1m87Snw87", "name": "Business Central" } }
    },
    {
      "parameters": { "jsCode": "const input = $input.all(); if (input.length === 0) return []; const data = input[0].json; const equipos = data.value || []; const items = []; for (const e of equipos) { const job_no = String(e.job_no ?? '').trim(); const resource_no = String(e.resource_no ?? '').trim(); if (!job_no || !resource_no) continue; items.push({ json: { company_name: 'Power Solution Iberia SL', job_no, resource_no } }); } return items;" },
      "id": "3333cccc-dddd-4eee-8fff-000011112222",
      "name": "Transformar ProyectosEquipos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 480]
    },
    {
      "parameters": { "batchSize": 300, "options": {} },
      "id": "4444dddd-eeee-4fff-8000-111122223333",
      "name": "Split In Batches (upsert team)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [1120, 480]
    },
    {
      "parameters": { "jsCode": "const rows = $input.all().map(i => i.json || {}); return [{ json: { payload: rows } }];" },
      "id": "5555eeee-ffff-4000-8111-222233334444",
      "name": "Pack batch (team)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1344, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qfpswxjunoepznrpsltt.supabase.co/rest/v1/job_team?on_conflict=company_name,job_no,resource_no",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmcHN3eGp1bm9lcHpucnBzbHR0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mzg3MTA3OSwiZXhwIjoyMDY5NDQ3MDc5fQ.PxpfuFsfvpeEPHCEiWhRn0SD1WxngTAEppJ-65QTTOQ" },
          { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmcHN3eGp1bm9lcHpucnBzbHR0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mzg3MTA3OSwiZXhwIjoyMDY5NDQ3MDc5fQ.PxpfuFsfvpeEPHCEiWhRn0SD1WxngTAEppJ-65QTTOQ" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": { "timeout": 60000 }
      },
      "id": "6666ffff-0000-4111-8222-333344445555",
      "name": "HTTP - Upsert job_team (Supabase REST)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1568, 480]
    },
    {
      "parameters": { "jsCode": "return [{ json: { nowIso: new Date().toISOString() } }];" },
      "id": "77770000-1111-4222-8333-444455556666",
      "name": "Compute now ISO (team)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 288]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": { "conditions": [ { "keyName": "company_name", "condition": "eq", "keyValue": "Power Solution Iberia SL" }, { "keyName": "entity", "condition": "eq", "keyValue": "job_team" } ] },
        "fieldsUi": { "fieldValues": [ { "fieldId": "last_sync_at", "fieldValue": "={{ $json.nowIso }}" } ] }
      },
      "id": "88881111-2222-4333-8444-555566667777",
      "name": "Update sync_state (team)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 288],
      "credentials": { "supabaseApi": { "id": "Qa0kL8CVFxjwQVZ5", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": { "conditions": [ { "keyName": "company_name", "condition": "eq", "keyValue": "Power Solution Iberia SL" }, { "keyName": "entity", "condition": "eq", "keyValue": "resource_cost" } ] }
      },
      "id": "rc-ss-1111-2222-3333-4444",
      "name": "Get sync_state (resource_cost)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [224, 576],
      "credentials": { "supabaseApi": { "id": "Qa0kL8CVFxjwQVZ5", "name": "Supabase account" } }
    },
    {
      "parameters": { "jsCode": "const rows = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : [i.json]); if (rows.length === 0) { return [{ json: { lastSyncIso: '1970-01-01T00:00:00Z' } }]; } const row = rows[0]; const last = row.last_sync_at || '1970-01-01T00:00:00Z'; const iso = new Date(last).toISOString(); return [{ json: { lastSyncIso: iso } }];" },
      "id": "rc-iso-2222-3333-4444-5555",
      "name": "Compute last_sync ISO (resource_cost)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 576]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies(ca9dc1bf-54ee-ed11-884a-000d3a455d5b)/RecursosCostos?$filter=lastModifiedDateTime%20ge%20' + $json.lastSyncIso }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": { "timeout": 60000 }
      },
      "id": "rc-http-3333-4444-5555-6666",
      "name": "HTTP - RecursosCostos (filtrado)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [672, 576],
      "credentials": { "oAuth2Api": { "id": "5caHilW1m87Snw87", "name": "Business Central" } }
    },
    {
      "parameters": { "jsCode": "const input = $input.all(); if (input.length === 0) return []; const data = input[0].json; const rows = data.value || []; const items = []; for (const r of rows) { const resource_no = String(r.resource_no ?? '').trim(); const work_type = String(r.work_type ?? '').trim(); const unit_cost = Number(r.unit_cost ?? 0); if (!resource_no || !work_type) continue; items.push({ json: { company_name: 'Power Solution Iberia SL', resource_no, work_type, unit_cost } }); } return items;" },
      "id": "rc-transform-4444-5555-6666-7777",
      "name": "Transformar RecursosCostos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 576]
    },
    {
      "parameters": { "batchSize": 300, "options": {} },
      "id": "rc-batch-5555-6666-7777-8888",
      "name": "Split In Batches (upsert resource_cost)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [1120, 576]
    },
    {
      "parameters": { "jsCode": "const rows = $input.all().map(i => i.json || {}); return [{ json: { payload: rows } }];" },
      "id": "rc-pack-6666-7777-8888-9999",
      "name": "Pack batch (resource_cost)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1344, 576]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qfpswxjunoepznrpsltt.supabase.co/rest/v1/resource_cost?on_conflict=company_name,resource_no,work_type",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmcHN3eGp1bm9lcHpucnBzbHR0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mzg3MTA3OSwiZXhwIjoyMDY5NDQ3MDc5fQ.PxpfuFsfvpeEPHCEiWhRn0SD1WxngTAEppJ-65QTTOQ" },
          { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmcHN3eGp1bm9lcHpucnBzbHR0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mzg3MTA3OSwiZXhwIjoyMDY5NDQ3MDc5fQ.PxpfuFsfvpeEPHCEiWhRn0SD1WxngTAEppJ-65QTTOQ" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": { "timeout": 60000 }
      },
      "id": "rc-upsert-7777-8888-9999-0000",
      "name": "HTTP - Upsert resource_cost (Supabase REST)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1568, 576]
    },
    {
      "parameters": { "jsCode": "return [{ json: { nowIso: new Date().toISOString() } }];" },
      "id": "rc-now-8888-9999-0000-1111",
      "name": "Compute now ISO (resource_cost)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 384]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": { "conditions": [ { "keyName": "company_name", "condition": "eq", "keyValue": "Power Solution Iberia SL" }, { "keyName": "entity", "condition": "eq", "keyValue": "resource_cost" } ] },
        "fieldsUi": { "fieldValues": [ { "fieldId": "last_sync_at", "fieldValue": "={{ $json.nowIso }}" } ] }
      },
      "id": "rc-ssu-9999-0000-1111-2222",
      "name": "Update sync_state (resource_cost)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 384],
      "credentials": { "supabaseApi": { "id": "Qa0kL8CVFxjwQVZ5", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": { "conditions": [ { "keyName": "company_name", "condition": "eq", "keyValue": "Power Solution Iberia SL" }, { "keyName": "entity", "condition": "eq", "keyValue": "calendar_period_days" } ] }
      },
      "id": "cpd-ss-1111-2222-3333-4444",
      "name": "Get sync_state (calendar)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [224, 288],
      "credentials": { "supabaseApi": { "id": "Qa0kL8CVFxjwQVZ5", "name": "Supabase account" } }
    },
    {
      "parameters": { "jsCode": "const rows = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : [i.json]); if (rows.length === 0) { return [{ json: { lastSyncIso: '1970-01-01T00:00:00Z' } }]; } const row = rows[0]; const last = row.last_sync_at || '1970-01-01T00:00:00Z'; const iso = new Date(last).toISOString(); return [{ json: { lastSyncIso: iso } }];" },
      "id": "cpd-iso-2222-3333-4444-5555",
      "name": "Compute last_sync ISO (calendar)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 288]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies(ca9dc1bf-54ee-ed11-884a-000d3a455d5b)/CalendaroPeriodosDias?$filter=lastModifiedDateTime%20ge%20' + $json.lastSyncIso }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": { "timeout": 60000 }
      },
      "id": "cpd-http-3333-4444-5555-6666",
      "name": "HTTP - CalendarPeriodDays (filtrado)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [672, 288],
      "credentials": { "oAuth2Api": { "id": "5caHilW1m87Snw87", "name": "Business Central" } }
    },
    {
      "parameters": { "jsCode": "const input = $input.all(); if (input.length === 0) return []; const data = input[0].json; const rows = data.value || []; const items = []; for (const r of rows) { const allocation_period = String(r.allocation_period ?? '').trim(); const calendar_code = String(r.calendar_code ?? '').trim(); const day = Number(r.day ?? 0); const holiday = Boolean(r.holiday ?? false); const hours_working = Number(r.hours_working ?? 0); if (!allocation_period || !calendar_code || !day) continue; items.push({ json: { company_name: 'Power Solution Iberia SL', allocation_period, calendar_code, day, holiday, hours_working } }); } return items;" },
      "id": "cpd-transform-4444-5555-6666-7777",
      "name": "Transformar CalendarPeriodDays",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 288]
    },
    {
      "parameters": { "batchSize": 300, "options": {} },
      "id": "cpd-batch-5555-6666-7777-8888",
      "name": "Split In Batches (upsert calendar)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [1120, 288]
    },
    {
      "parameters": { "jsCode": "const rows = $input.all().map(i => i.json || {}); return [{ json: { payload: rows } }];" },
      "id": "cpd-pack-6666-7777-8888-9999",
      "name": "Pack batch (calendar)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1344, 288]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qfpswxjunoepznrpsltt.supabase.co/rest/v1/calendar_period_days?on_conflict=company_name,allocation_period,calendar_code,day",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmcHN3eGp1bm9lcHpucnBzbHR0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mzg3MTA3OSwiZXhwIjoyMDY5NDQ3MDc5fQ.PxpfuFsfvpeEPHCEiWhRn0SD1WxngTAEppJ-65QTTOQ" },
          { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmcHN3eGp1bm9lcHpucnBzbHR0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mzg3MTA3OSwiZXhwIjoyMDY5NDQ3MDc5fQ.PxpfuFsfvpeEPHCEiWhRn0SD1WxngTAEppJ-65QTTOQ" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": { "timeout": 60000 }
      },
      "id": "cpd-upsert-7777-8888-9999-0000",
      "name": "HTTP - Upsert calendar_period_days (Supabase REST)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1568, 288]
    },
    {
      "parameters": { "jsCode": "return [{ json: { nowIso: new Date().toISOString() } }];" },
      "id": "cpd-now-8888-9999-0000-1111",
      "name": "Compute now ISO (calendar)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 96]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": { "conditions": [ { "keyName": "company_name", "condition": "eq", "keyValue": "Power Solution Iberia SL" }, { "keyName": "entity", "condition": "eq", "keyValue": "calendar_period_days" } ] },
        "fieldsUi": { "fieldValues": [ { "fieldId": "last_sync_at", "fieldValue": "={{ $json.nowIso }}" } ] }
      },
      "id": "cpd-ssu-9999-0000-1111-2222",
      "name": "Update sync_state (calendar)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 96],
      "credentials": { "supabaseApi": { "id": "Qa0kL8CVFxjwQVZ5", "name": "Supabase account" } }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          { "node": "Get sync_state (resource)", "type": "main", "index": 0 },
          { "node": "Get sync_state (jobs)", "type": "main", "index": 0 },
          { "node": "Get sync_state (tasks)", "type": "main", "index": 0 },
          { "node": "Get sync_state (team)", "type": "main", "index": 0 },
          { "node": "Get sync_state (resource_cost)", "type": "main", "index": 0 },
          { "node": "Get sync_state (calendar)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get sync_state (resource)": {
      "main": [
        [
          {
            "node": "Compute last_sync ISO (resource)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute last_sync ISO (resource)": {
      "main": [
        [
          {
            "node": "HTTP - Recursos (filtrado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Recursos (filtrado)": {
      "main": [
        [
          {
            "node": "Transformar Recursos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compute now ISO (resource)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar Recursos": {
      "main": [
        [
          {
            "node": "Split In Batches (upsert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches (upsert)": {
      "main": [
        [
          {
            "node": "Pack batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack batch": {
      "main": [
        [
          {
            "node": "HTTP - Upsert resource (Supabase REST)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute now ISO (resource)": {
      "main": [
        [
          {
            "node": "Update sync_state (resource)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },

    "Get sync_state (jobs)": {
      "main": [ [ { "node": "Compute last_sync ISO (jobs)", "type": "main", "index": 0 } ] ]
    },
    "Compute last_sync ISO (jobs)": {
      "main": [ [ { "node": "HTTP - Proyectos (filtrado)", "type": "main", "index": 0 } ] ]
    },
    "HTTP - Proyectos (filtrado)": {
      "main": [ [ { "node": "Transformar Proyectos", "type": "main", "index": 0 }, { "node": "Compute now ISO (jobs)", "type": "main", "index": 0 } ] ]
    },
    "Transformar Proyectos": {
      "main": [ [ { "node": "Split In Batches (upsert jobs)", "type": "main", "index": 0 } ] ]
    },
    "Split In Batches (upsert jobs)": {
      "main": [ [ { "node": "Pack batch (jobs)", "type": "main", "index": 0 } ] ]
    },
    "Pack batch (jobs)": {
      "main": [ [ { "node": "HTTP - Upsert job (Supabase REST)", "type": "main", "index": 0 } ] ]
    },
    "Compute now ISO (jobs)": {
      "main": [ [ { "node": "Update sync_state (jobs)", "type": "main", "index": 0 } ] ]
    },
    "Get sync_state (tasks)": {
      "main": [ [ { "node": "Compute last_sync ISO (tasks)", "type": "main", "index": 0 } ] ]
    },
    "Compute last_sync ISO (tasks)": {
      "main": [ [ { "node": "HTTP - ProyectosTareas (filtrado)", "type": "main", "index": 0 } ] ]
    },
    "HTTP - ProyectosTareas (filtrado)": {
      "main": [ [ { "node": "Transformar ProyectosTareas", "type": "main", "index": 0 }, { "node": "Compute now ISO (tasks)", "type": "main", "index": 0 } ] ]
    },
    "Transformar ProyectosTareas": {
      "main": [ [ { "node": "Split In Batches (upsert tasks)", "type": "main", "index": 0 } ] ]
    },
    "Split In Batches (upsert tasks)": {
      "main": [ [ { "node": "Pack batch (tasks)", "type": "main", "index": 0 } ] ]
    },
    "Pack batch (tasks)": {
      "main": [ [ { "node": "HTTP - Upsert job_task (Supabase REST)", "type": "main", "index": 0 } ] ]
    },
    "Compute now ISO (tasks)": {
      "main": [ [ { "node": "Update sync_state (tasks)", "type": "main", "index": 0 } ] ]
    },
    "Get sync_state (team)": {
      "main": [ [ { "node": "Compute last_sync ISO (team)", "type": "main", "index": 0 } ] ]
    },
    "Compute last_sync ISO (team)": {
      "main": [ [ { "node": "HTTP - ProyectosEquipos (filtrado)", "type": "main", "index": 0 } ] ]
    },
    "HTTP - ProyectosEquipos (filtrado)": {
      "main": [ [ { "node": "Transformar ProyectosEquipos", "type": "main", "index": 0 }, { "node": "Compute now ISO (team)", "type": "main", "index": 0 } ] ]
    },
    "Transformar ProyectosEquipos": {
      "main": [ [ { "node": "Split In Batches (upsert team)", "type": "main", "index": 0 } ] ]
    },
    "Split In Batches (upsert team)": {
      "main": [ [ { "node": "Pack batch (team)", "type": "main", "index": 0 } ] ]
    },
    "Pack batch (team)": {
      "main": [ [ { "node": "HTTP - Upsert job_team (Supabase REST)", "type": "main", "index": 0 } ] ]
    },
    "Compute now ISO (team)": {
      "main": [ [ { "node": "Update sync_state (team)", "type": "main", "index": 0 } ] ]
    },
    "Get sync_state (resource_cost)": {
      "main": [ [ { "node": "Compute last_sync ISO (resource_cost)", "type": "main", "index": 0 } ] ]
    },
    "Compute last_sync ISO (resource_cost)": {
      "main": [ [ { "node": "HTTP - RecursosCostos (filtrado)", "type": "main", "index": 0 } ] ]
    },
    "HTTP - RecursosCostos (filtrado)": {
      "main": [ [ { "node": "Transformar RecursosCostos", "type": "main", "index": 0 }, { "node": "Compute now ISO (resource_cost)", "type": "main", "index": 0 } ] ]
    },
    "Transformar RecursosCostos": {
      "main": [ [ { "node": "Split In Batches (upsert resource_cost)", "type": "main", "index": 0 } ] ]
    },
    "Split In Batches (upsert resource_cost)": {
      "main": [ [ { "node": "Pack batch (resource_cost)", "type": "main", "index": 0 } ] ]
    },
    "Pack batch (resource_cost)": {
      "main": [ [ { "node": "HTTP - Upsert resource_cost (Supabase REST)", "type": "main", "index": 0 } ] ]
    },
    "Compute now ISO (resource_cost)": {
      "main": [ [ { "node": "Update sync_state (resource_cost)", "type": "main", "index": 0 } ] ]
    },
    "Get sync_state (calendar)": {
      "main": [ [ { "node": "Compute last_sync ISO (calendar)", "type": "main", "index": 0 } ] ]
    },
    "Compute last_sync ISO (calendar)": {
      "main": [ [ { "node": "HTTP - CalendarPeriodDays (filtrado)", "type": "main", "index": 0 } ] ]
    },
    "HTTP - CalendarPeriodDays (filtrado)": {
      "main": [ [ { "node": "Transformar CalendarPeriodDays", "type": "main", "index": 0 }, { "node": "Compute now ISO (calendar)", "type": "main", "index": 0 } ] ]
    },
    "Transformar CalendarPeriodDays": {
      "main": [ [ { "node": "Split In Batches (upsert calendar)", "type": "main", "index": 0 } ] ]
    },
    "Split In Batches (upsert calendar)": {
      "main": [ [ { "node": "Pack batch (calendar)", "type": "main", "index": 0 } ] ]
    },
    "Pack batch (calendar)": {
      "main": [ [ { "node": "HTTP - Upsert calendar_period_days (Supabase REST)", "type": "main", "index": 0 } ] ]
    },
    "Compute now ISO (calendar)": {
      "main": [ [ { "node": "Update sync_state (calendar)", "type": "main", "index": 0 } ] ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4c4283de-846e-42b3-8b84-c6bcdad1d90a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f4a76193498dfc211473f5de0a4e75faf68e0d1feb31e98054dc9c9b3f6aa8c"
  },
  "id": "kevXwxvjI9gmargP",
  "tags": []
}
