my-timesheet-app/src/scripts/n8n/workflows/002_sincronizacion_completa_company_fixed.json
{
  "name": "002_sincronizacion_completa_company_fixed",
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { nowIso: new Date().toISOString() } }];"
      },
      "id": "code_now_calendar",
      "name": "Compute now ISO (calendar)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        224
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sync_state",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "Power Solution Iberia SL"
            },
            {
              "keyName": "entity",
              "condition": "eq",
              "keyValue": "job"
            }
          ]
        }
      },
      "id": "supabase_get_sync_state_jobs",
      "name": "Get sync_state (jobs)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -160,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : [i.json]); if (rows.length === 0) { return [{ json: { lastSyncIso: '1970-01-01T00:00:00Z' } }]; } const row = rows[0]; const last = row.last_sync_at || '1970-01-01T00:00:00Z'; const iso = new Date(last).toISOString(); return [{ json: { lastSyncIso: iso } }];"
      },
      "id": "code_compute_last_sync_jobs",
      "name": "Compute last_sync ISO (jobs)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -160
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies(ca9dc1bf-54ee-ed11-884a-000d3a455d5b)/Proyectos?$filter=lastModifiedDateTime%20ge%20' + $json.lastSyncIso }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http_proyectos_filtered",
      "name": "HTTP - Proyectos (filtrado)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        288,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all(); if (input.length > 0) { const first = input[0]; const data = first.json; const proyectos = data.value || []; const items = []; for (const p of proyectos) { items.push({ json: { no: p.no || '', description: p.description || '', status: p.Estado || p.status || '', responsible: p.Responsible || p.responsible || '', departamento: p.departamento || p.GlobalDimension1Code || '', company_name: 'Power Solution Iberia SL' } }); } return items; } return [];"
      },
      "id": "transform_proyectos",
      "name": "Transformar Proyectos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -160
      ]
    },
    {
      "parameters": {
        "batchSize": 300,
        "options": {}
      },
      "id": "split_batches_proyectos",
      "name": "Split In Batches (jobs)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        800,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "job",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "={{ $json.company_name }}"
            },
            {
              "keyName": "no",
              "condition": "eq",
              "keyValue": "={{ $json.no }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "no",
              "fieldValue": "={{ $json.no }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.description }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "responsible",
              "fieldValue": "={{ $json.responsible }}"
            },
            {
              "fieldId": "departamento",
              "fieldValue": "={{ $json.departamento }}"
            },
            {
              "fieldId": "company_name",
              "fieldValue": "={{ $json.company_name }}"
            }
          ]
        }
      },
      "id": "supabase_update_job",
      "name": "Update job",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "Power Solution Iberia SL"
            },
            {
              "keyName": "entity",
              "condition": "eq",
              "keyValue": "job"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_sync_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "supabase_update_sync_state_jobs",
      "name": "Update sync_state (jobs)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        -368
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sync_state",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "Power Solution Iberia SL"
            },
            {
              "keyName": "entity",
              "condition": "eq",
              "keyValue": "job_task"
            }
          ]
        }
      },
      "id": "supabase_get_sync_state_tasks",
      "name": "Get sync_state (tasks)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -160,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : [i.json]); if (rows.length === 0) { return [{ json: { lastSyncIso: '1970-01-01T00:00:00Z' } }]; } const row = rows[0]; const last = row.last_sync_at || '1970-01-01T00:00:00Z'; const iso = new Date(last).toISOString(); return [{ json: { lastSyncIso: iso } }];"
      },
      "id": "code_compute_last_sync_tasks",
      "name": "Compute last_sync ISO (tasks)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -16
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies(ca9dc1bf-54ee-ed11-884a-000d3a455d5b)/ProyectosTareas?$filter=lastModifiedDateTime%20ge%20' + $json.lastSyncIso }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http_tasks_filtered",
      "name": "HTTP - ProyectosTareas (filtrado)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        288,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all(); if (input.length > 0) { const first = input[0]; const data = first.json; const tareas = data.value || []; const items = []; for (const t of tareas) { items.push({ json: { job_no: t.projectNo || t.jobNo || '', no: t.no || '', description: (t.description && t.description.trim()) ? t.description : 'Sin descripci\u00f3n', company_name: 'Power Solution Iberia SL' } }); } return items; } return [];"
      },
      "id": "transform_tasks",
      "name": "Transformar ProyectosTareas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -16
      ]
    },
    {
      "parameters": {
        "batchSize": 300,
        "options": {}
      },
      "id": "split_batches_tasks",
      "name": "Split In Batches (tasks)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        800,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "job_task",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "={{ $json.company_name }}"
            },
            {
              "keyName": "job_no",
              "condition": "eq",
              "keyValue": "={{ $json.job_no }}"
            },
            {
              "keyName": "no",
              "condition": "eq",
              "keyValue": "={{ $json.no }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "job_no",
              "fieldValue": "={{ $json.job_no }}"
            },
            {
              "fieldId": "no",
              "fieldValue": "={{ $json.no }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.description }}"
            },
            {
              "fieldId": "company_name",
              "fieldValue": "={{ $json.company_name }}"
            }
          ]
        }
      },
      "id": "supabase_update_job_task",
      "name": "Update job_task",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { nowIso: new Date().toISOString() } }];"
      },
      "id": "code_now_tasks",
      "name": "Compute now ISO (tasks)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -128
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "Power Solution Iberia SL"
            },
            {
              "keyName": "entity",
              "condition": "eq",
              "keyValue": "job_task"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_sync_at",
              "fieldValue": "={{ $json.nowIso }}"
            }
          ]
        }
      },
      "id": "supabase_update_sync_state_tasks",
      "name": "Update sync_state (tasks)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        -128
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sync_state",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "Power Solution Iberia SL"
            },
            {
              "keyName": "entity",
              "condition": "eq",
              "keyValue": "calendar_period_days"
            }
          ]
        }
      },
      "id": "supabase_get_sync_state",
      "name": "Get sync_state (calendar)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -160,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : [i.json]); if (rows.length === 0) { return [{ json: { lastSyncIso: '1970-01-01T00:00:00Z' } }]; } const row = rows[0]; const last = row.last_sync_at || row.lastSyncAt || row.last_sync || '1970-01-01T00:00:00Z'; const iso = new Date(last).toISOString(); return [{ json: { lastSyncIso: iso } }];"
      },
      "id": "code_compute_last_sync",
      "name": "Compute last_sync ISO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies(ca9dc1bf-54ee-ed11-884a-000d3a455d5b)/CalendaroPeriodosDias?$filter=lastModifiedDateTime%20ge%20' + $json.lastSyncIso }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http_calendar_filtered",
      "name": "HTTP - CalendaroPeriodosDias (filtrado)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        288,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all(); if (input.length > 0) { const firstItem = input[0]; const jsonData = firstItem.json; const calendario = jsonData.value || []; const items = []; for (const cal of calendario) { items.push({ json: { allocation_period: cal.allocationPeriod || cal.allocation_period || '', calendar_code: cal.calendarCode || cal.calendar_code || '', day: cal.day || '', holiday: cal.holiday || false, hours_working: parseFloat(cal.hoursWorking || cal.hours_working || 0), company_name: 'Power Solution Iberia SL' } }); } return items; } return [];"
      },
      "id": "transform_calendar",
      "name": "Transformar CalendaroPeriodosDias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        112
      ]
    },
    {
      "parameters": {
        "batchSize": 300,
        "options": {}
      },
      "id": "split_batches_calendar",
      "name": "Split In Batches (300)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        800,
        112
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "calendar_period_days",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "={{ $json.company_name }}"
            },
            {
              "keyName": "allocation_period",
              "condition": "eq",
              "keyValue": "={{ $json.allocation_period }}"
            },
            {
              "keyName": "calendar_code",
              "condition": "eq",
              "keyValue": "={{ $json.calendar_code }}"
            },
            {
              "keyName": "day",
              "condition": "eq",
              "keyValue": "={{ $json.day }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "allocation_period",
              "fieldValue": "={{ $json.allocation_period }}"
            },
            {
              "fieldId": "calendar_code",
              "fieldValue": "={{ $json.calendar_code }}"
            },
            {
              "fieldId": "day",
              "fieldValue": "={{ $json.day }}"
            },
            {
              "fieldId": "holiday",
              "fieldValue": "={{ $json.holiday }}"
            },
            {
              "fieldId": "hours_working",
              "fieldValue": "={{ $json.hours_working }}"
            },
            {
              "fieldId": "company_name",
              "fieldValue": "={{ $json.company_name }}"
            }
          ]
        }
      },
      "id": "supabase_update_calendar",
      "name": "Update calendar_period_days",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        112
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "Power Solution Iberia SL"
            },
            {
              "keyName": "entity",
              "condition": "eq",
              "keyValue": "calendar_period_days"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_sync_at",
              "fieldValue": "={{ $json.nowIso }}"
            }
          ]
        }
      },
      "id": "supabase_update_sync_state",
      "name": "Update sync_state (calendar)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        304
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sync_state",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "Power Solution Iberia SL"
            },
            {
              "keyName": "entity",
              "condition": "eq",
              "keyValue": "job_team"
            }
          ]
        }
      },
      "id": "supabase_get_sync_state_team",
      "name": "Get sync_state (team)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -160,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : [i.json]); if (rows.length === 0) { return [{ json: { lastSyncIso: '1970-01-01T00:00:00Z' } }]; } const row = rows[0]; const last = row.last_sync_at || '1970-01-01T00:00:00Z'; const iso = new Date(last).toISOString(); return [{ json: { lastSyncIso: iso } }];"
      },
      "id": "code_compute_last_sync_team",
      "name": "Compute last_sync ISO (team)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        240
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies(ca9dc1bf-54ee-ed11-884a-000d3a455d5b)/ProyectosEquipos?$filter=lastModifiedDateTime%20ge%20' + $json.lastSyncIso }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http_team_filtered",
      "name": "HTTP - ProyectosEquipos (filtrado)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        280,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all(); if (input.length > 0) { const first = input[0]; const data = first.json; const equipos = data.value || []; const items = []; for (const e of equipos) { items.push({ json: { job_no: e.projectNo || e.jobNo || '', resource_no: e.resourceNo || e.resource_code || '', company_name: 'Power Solution Iberia SL' } }); } return items; } return [];"
      },
      "id": "transform_team",
      "name": "Transformar ProyectosEquipos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        240
      ]
    },
    {
      "parameters": {
        "batchSize": 300
      },
      "id": "split_batches_team",
      "name": "Split In Batches (team)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        800,
        240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "job_team",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "={{ $json.company_name }}"
            },
            {
              "keyName": "job_no",
              "condition": "eq",
              "keyValue": "={{ $json.job_no }}"
            },
            {
              "keyName": "resource_no",
              "condition": "eq",
              "keyValue": "={{ $json.resource_no }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "job_no",
              "fieldValue": "={{ $json.job_no }}"
            },
            {
              "fieldId": "resource_no",
              "fieldValue": "={{ $json.resource_no }}"
            },
            {
              "fieldId": "company_name",
              "fieldValue": "={{ $json.company_name }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "supabase_update_jobteam",
      "name": "Update job_team",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { nowIso: new Date().toISOString() } }];"
      },
      "id": "code_now_team",
      "name": "Compute now ISO (team)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        340
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "Power Solution Iberia SL"
            },
            {
              "keyName": "entity",
              "condition": "eq",
              "keyValue": "job_team"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_sync_at",
              "fieldValue": "={{ $json.nowIso }}"
            }
          ]
        }
      },
      "id": "supabase_update_sync_state_team",
      "name": "Update sync_state (team)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        340
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sync_state",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "Power Solution Iberia SL"
            },
            {
              "keyName": "entity",
              "condition": "eq",
              "keyValue": "resource"
            }
          ]
        }
      },
      "id": "supabase_get_sync_state_resource",
      "name": "Get sync_state (resource)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -160,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : [i.json]); if (rows.length === 0) { return [{ json: { lastSyncIso: '1970-01-01T00:00:00Z' } }]; } const row = rows[0]; const last = row.last_sync_at || '1970-01-01T00:00:00Z'; const iso = new Date(last).toISOString(); return [{ json: { lastSyncIso: iso } }];"
      },
      "id": "code_compute_last_sync_resource",
      "name": "Compute last_sync ISO (resource)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies(ca9dc1bf-54ee-ed11-884a-000d3a455d5b)/Recursos?$filter=lastModifiedDateTime%20ge%20' + $json.lastSyncIso }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http_resource_filtered",
      "name": "HTTP - Recursos (filtrado)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        280,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all(); if (input.length > 0) { const first = input[0]; const data = first.json; const recursos = data.value || []; const items = []; for (const r of recursos) { items.push({ json: { no: r.no || '', name: r.name || '', type: r.type || '', company_name: 'Power Solution Iberia SL' } }); } return items; } return [];"
      },
      "id": "transform_resource",
      "name": "Transformar Recursos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        400
      ]
    },
    {
      "parameters": {
        "batchSize": 300
      },
      "id": "split_batches_resource",
      "name": "Split In Batches (resource)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        800,
        400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "resource",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "={{ $json.company_name }}"
            },
            {
              "keyName": "no",
              "condition": "eq",
              "keyValue": "={{ $json.no }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "no",
              "fieldValue": "={{ $json.no }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $json.type }}"
            },
            {
              "fieldId": "company_name",
              "fieldValue": "={{ $json.company_name }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "supabase_update_resource",
      "name": "Update resource",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { nowIso: new Date().toISOString() } }];"
      },
      "id": "code_now_resource",
      "name": "Compute now ISO (resource)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        500
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "Power Solution Iberia SL"
            },
            {
              "keyName": "entity",
              "condition": "eq",
              "keyValue": "resource"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_sync_at",
              "fieldValue": "={{ $json.nowIso }}"
            }
          ]
        }
      },
      "id": "supabase_update_sync_state_resource",
      "name": "Update sync_state (resource)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        500
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sync_state",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "Power Solution Iberia SL"
            },
            {
              "keyName": "entity",
              "condition": "eq",
              "keyValue": "resource_cost"
            }
          ]
        }
      },
      "id": "supabase_get_sync_state_cost",
      "name": "Get sync_state (cost)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -160,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : [i.json]); if (rows.length === 0) { return [{ json: { lastSyncIso: '1970-01-01T00:00:00Z' } }]; } const row = rows[0]; const last = row.last_sync_at || '1970-01-01T00:00:00Z'; const iso = new Date(last).toISOString(); return [{ json: { lastSyncIso: iso } }];"
      },
      "id": "code_compute_last_sync_cost",
      "name": "Compute last_sync ISO (cost)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        560
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/Power_Solution/PS_API/v2.0/companies(ca9dc1bf-54ee-ed11-884a-000d3a455d5b)/RecursosCostos?$filter=lastModifiedDateTime%20ge%20' + $json.lastSyncIso }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http_cost_filtered",
      "name": "HTTP - RecursosCostos (filtrado)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        280,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all(); if (input.length > 0) { const first = input[0]; const data = first.json; const costos = data.value || []; const items = []; for (const c of costos) { items.push({ json: { resource_no: c.resourceNo || c.resource_no || '', cost_type: c.costType || c.cost_type || '', direct_unit_cost: parseFloat(c.directUnitCost || c.direct_unit_cost || 0), company_name: 'Power Solution Iberia SL' } }); } return items; } return [];"
      },
      "id": "transform_cost",
      "name": "Transformar RecursosCostos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        560
      ]
    },
    {
      "parameters": {
        "batchSize": 300
      },
      "id": "split_batches_cost",
      "name": "Split In Batches (cost)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        800,
        560
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "resource_cost",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "={{ $json.company_name }}"
            },
            {
              "keyName": "resource_no",
              "condition": "eq",
              "keyValue": "={{ $json.resource_no }}"
            },
            {
              "keyName": "cost_type",
              "condition": "eq",
              "keyValue": "={{ $json.cost_type }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "resource_no",
              "fieldValue": "={{ $json.resource_no }}"
            },
            {
              "fieldId": "cost_type",
              "fieldValue": "={{ $json.cost_type }}"
            },
            {
              "fieldId": "direct_unit_cost",
              "fieldValue": "={{ $json.direct_unit_cost }}"
            },
            {
              "fieldId": "company_name",
              "fieldValue": "={{ $json.company_name }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "supabase_update_resourcecost",
      "name": "Update resource_cost",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { nowIso: new Date().toISOString() } }];"
      },
      "id": "code_now_cost",
      "name": "Compute now ISO (cost)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        660
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sync_state",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "company_name",
              "condition": "eq",
              "keyValue": "Power Solution Iberia SL"
            },
            {
              "keyName": "entity",
              "condition": "eq",
              "keyValue": "resource_cost"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_sync_at",
              "fieldValue": "={{ $json.nowIso }}"
            }
          ]
        }
      },
      "id": "supabase_update_sync_state_cost",
      "name": "Update sync_state (cost)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        660
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Get sync_state (calendar)": {
      "main": [
        [
          {
            "node": "Compute last_sync ISO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get sync_state (calendar)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get sync_state (jobs)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get sync_state (tasks)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get sync_state (team)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get sync_state (resource)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get sync_state (cost)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sync_state (tasks)": {
      "main": [
        [
          {
            "node": "Compute last_sync ISO (tasks)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute last_sync ISO (tasks)": {
      "main": [
        [
          {
            "node": "HTTP - ProyectosTareas (filtrado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - ProyectosTareas (filtrado)": {
      "main": [
        [
          {
            "node": "Transformar ProyectosTareas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compute now ISO (tasks)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar ProyectosTareas": {
      "main": [
        [
          {
            "node": "Split In Batches (tasks)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches (tasks)": {
      "main": [
        [
          {
            "node": "Update job_task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update job_task": {
      "main": [
        [
          {
            "node": "Split In Batches (tasks)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute now ISO (tasks)": {
      "main": [
        [
          {
            "node": "Update sync_state (tasks)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sync_state (jobs)": {
      "main": [
        [
          {
            "node": "Compute last_sync ISO (jobs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute last_sync ISO (jobs)": {
      "main": [
        [
          {
            "node": "HTTP - Proyectos (filtrado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Proyectos (filtrado)": {
      "main": [
        [
          {
            "node": "Transformar Proyectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar Proyectos": {
      "main": [
        [
          {
            "node": "Split In Batches (jobs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches (jobs)": {
      "main": [
        [
          {
            "node": "Update job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update sync_state (jobs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update job": {
      "main": [
        [
          {
            "node": "Split In Batches (jobs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute last_sync ISO": {
      "main": [
        [
          {
            "node": "HTTP - CalendaroPeriodosDias (filtrado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - CalendaroPeriodosDias (filtrado)": {
      "main": [
        [
          {
            "node": "Transformar CalendaroPeriodosDias",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compute now ISO (calendar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar CalendaroPeriodosDias": {
      "main": [
        [
          {
            "node": "Split In Batches (300)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches (300)": {
      "main": [
        [
          {
            "node": "Update calendar_period_days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute now ISO (calendar)": {
      "main": [
        [
          {
            "node": "Update sync_state (calendar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update calendar_period_days": {
      "main": [
        [
          {
            "node": "Split In Batches (300)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sync_state (team)": {
      "main": [
        [
          {
            "node": "Compute last_sync ISO (team)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute last_sync ISO (team)": {
      "main": [
        [
          {
            "node": "HTTP - ProyectosEquipos (filtrado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - ProyectosEquipos (filtrado)": {
      "main": [
        [
          {
            "node": "Transformar ProyectosEquipos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compute now ISO (team)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar ProyectosEquipos": {
      "main": [
        [
          {
            "node": "Split In Batches (team)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches (team)": {
      "main": [
        [
          {
            "node": "Update job_team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update job_team": {
      "main": [
        [
          {
            "node": "Split In Batches (team)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute now ISO (team)": {
      "main": [
        [
          {
            "node": "Update sync_state (team)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sync_state (resource)": {
      "main": [
        [
          {
            "node": "Compute last_sync ISO (resource)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute last_sync ISO (resource)": {
      "main": [
        [
          {
            "node": "HTTP - Recursos (filtrado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Recursos (filtrado)": {
      "main": [
        [
          {
            "node": "Transformar Recursos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compute now ISO (resource)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar Recursos": {
      "main": [
        [
          {
            "node": "Split In Batches (resource)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches (resource)": {
      "main": [
        [
          {
            "node": "Update resource",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update resource": {
      "main": [
        [
          {
            "node": "Split In Batches (resource)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute now ISO (resource)": {
      "main": [
        [
          {
            "node": "Update sync_state (resource)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sync_state (cost)": {
      "main": [
        [
          {
            "node": "Compute last_sync ISO (cost)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute last_sync ISO (cost)": {
      "main": [
        [
          {
            "node": "HTTP - RecursosCostos (filtrado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - RecursosCostos (filtrado)": {
      "main": [
        [
          {
            "node": "Transformar RecursosCostos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compute now ISO (cost)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar RecursosCostos": {
      "main": [
        [
          {
            "node": "Split In Batches (cost)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches (cost)": {
      "main": [
        [
          {
            "node": "Update resource_cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update resource_cost": {
      "main": [
        [
          {
            "node": "Split In Batches (cost)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute now ISO (cost)": {
      "main": [
        [
          {
            "node": "Update sync_state (cost)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "df9bbfb7-daaf-4a42-86b2-37f48bb4f083",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f4a76193498dfc211473f5de0a4e75faf68e0d1feb31e98054dc9c9b3f6aa8c"
  },
  "id": "3fpaX4J2wc5DH054",
  "tags": []
}