my-timesheet-app/src/scripts/n8n/workflows/002_sync_supabase_to_bc.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/v2.0/companies",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "1668da93-4430-4299-9540-fb23dc5e05fc",
      "name": "HTTP - Get Companies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1600,
        -368
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "5caHilW1m87Snw87",
          "name": "Business Central"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const value = $input.first()?.json?.value || []; const line = value[0] || {}; const starting = String(line.Starting_No || ''); const inc = Number(line.Increment_by_No || 1); const prefix = starting.replace(/\\d+$/,''); const startDigitsStr = (starting.match(/\\d+$/)?.[0] || '0'); const digits = startDigitsStr.length; const last = String(line.Last_No_Used || starting); const lastNumStr = (last.match(/\\d+$/)?.[0] || startDigitsStr); const baseNum = parseInt(lastNumStr, 10) || 0; const next = baseNum + inc; const nextNo = prefix + String(next).padStart(digits, '0'); const header = $('Prepare Headers for BC').item.json.header; return [{ json: { header, nextNo, seriesLine: line } }];"
      },
      "id": "23d2343b-1997-4fd6-9d79-b73aab4af195",
      "name": "Code - Compute Next No",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json; const list = Array.isArray(res.value) ? res.value : []; const norm = (s) => (s||'').toString().trim(); const exact = list.find(c => norm(c.displayName) === 'Power Solution Iberia' || norm(c.name) === 'Power Solution Iberia'); const partial = list.find(c => norm(c.displayName).includes('Power Solution Iberia') || norm(c.name).includes('Power Solution Iberia')); const picked = exact || partial || list[0]; if (!picked) { return []; } return [{ json: { companyId: picked.id, companyName: 'Power Solution Iberia' } }];"
      },
      "id": "d4919775-5ad8-416c-a5d9-8f1d72b5610f",
      "name": "Pick Company",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        -144
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "resource_timesheet_header",
        "filters": {
          "conditions": [
            {
              "keyName": "synced_to_bc",
              "condition": "eq",
              "keyValue": false
            }
          ]
        }
      },
      "id": "2f90d909-7993-4715-9351-1a0ac8552f66",
      "name": "Get Headers (synced_to_bc=false)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1376,
        80
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Qa0kL8CVFxjwQVZ5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all(); if (input.length > 0) { const headers = input; const items = []; for (const header of headers) { const h = { ...header.json }; items.push({ json: { header: h } }); } return items; } return [];"
      },
      "id": "8e920ed3-70a9-4370-a233-8450404090b5",
      "name": "Prepare Headers for BC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all(); if (!input.length) return []; const payload = input[0].json || {}; const header = payload.header || $('Prepare Headers for BC').item.json.header; const nextNo = payload.nextNo; const fmt = (d)=> (d||'').toString().replace(/\\//g,'-').slice(0,10); const timeSheetDate = fmt(header?.posting_date || header?.date || header?.from_date); const body = { no: nextNo, resourceNoJobNo: header?.resource_no, shortcutDimension1Code: header?.department_code, timeSheetDate, description: header?.description || 'Timesheet from Supabase', noSeries: 'PT' }; return [{ json: { header, nextNo, body } }];"
      },
      "id": "eb6eb806-954e-4c96-932a-2f2533aa4538",
      "name": "Build Header Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all(); if (!input.length) return []; const bcHeader = input[0].json; const header = $('Prepare Headers for BC').item.json.header; return [{ json: { header: header, bc_header: bcHeader } }];"
      },
      "id": "b572974f-a960-4020-9dac-a8e16c3a669c",
      "name": "Prepare for Lines Processing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        80
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "timesheet",
        "filters": {
          "conditions": [
            {
              "keyName": "header_id",
              "condition": "eq",
              "keyValue": "={{ $('Prepare Headers for BC').item.json.header.id }}"
            },
            {
              "keyName": "synced_to_bc",
              "condition": "eq",
              "keyValue": false
            }
          ]
        }
      },
      "id": "a0b515a0-c0ae-4f79-b3d2-2641d1e6852c",
      "name": "Get Lines for Header",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -32,
        80
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Qa0kL8CVFxjwQVZ5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all(); if (input.length > 0) { const lines = input; const header = $('Prepare for Lines Processing').item.json.header; const bc_header = $('Prepare for Lines Processing').item.json.bc_header; const items = []; for (const line of lines) { items.push({ json: { line: line.json, header, bc_header, bc_response: bc_header } }); } return items; } return [];"
      },
      "id": "4c98ad2f-b5ff-433b-a2db-f0469a21a4c7",
      "name": "Prepare Line for BC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/powersolution/timesheet/v1.0/companies(ca9dc1bf-54ee-ed11-884a-000d3a455d5b)/insertlines",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { DocumentNo: ($json.bc_header?.no || $json.bc_header?.No || $json.bc_header['No.']), ResourceNo: ($json.line.resource_no || $json.header.resource_no), JobNo: $json.line.job_no, JobTaskNo: $json.line.job_task_no, Description: ($json.line.description || 'Timesheet line from Supabase'), TimesheetDate: $json.line.date, Quantity: $json.line.quantity, WorkTypeCode: $json.line.work_type_code } }}",
        "options": {}
      },
      "id": "eb48dcc8-5c71-4cb2-bc17-5c60c5533a86",
      "name": "HTTP - Post Line to BC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        416,
        80
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "5caHilW1m87Snw87",
          "name": "Business Central"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "timesheet",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "header_id",
              "condition": "eq",
              "keyValue": "={{ $('Prepare Headers for BC').item.json.header.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "synced_to_bc",
              "fieldValue": "={{ true }}"
            }
          ]
        }
      },
      "id": "cfe0051c-ce14-47eb-b7d6-d96d4b233d24",
      "name": "Mark Line as Synced",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        80
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Qa0kL8CVFxjwQVZ5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "resource_timesheet_header",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Prepare Headers for BC').item.json.header.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "synced_to_bc",
              "fieldValue": "={{ true }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "bc_document_no",
              "fieldValue": "={{ $('HTTP - Post Line to BC').item.json.DocumentNo }}"
            }
          ]
        }
      },
      "id": "b6b86c60-4134-4d76-a74b-4696bda70dfb",
      "name": "Mark Header as Synced",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        80
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Qa0kL8CVFxjwQVZ5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        80
      ],
      "id": "5769d2d8-f96b-40a9-82e3-32dc5e8c0683",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/power_solution/ps_api/v2.0/companies(ca9dc1bf-54ee-ed11-884a-000d3a455d5b)/resourcetimesheetheaders",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "OData-Version",
              "value": "4.0"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { no: '', timeSheetDate: ($('Build Header Body').item.json.header.posting_date || $('Build Header Body').item.json.header.date || $('Build Header Body').item.json.header.from_date).toString().replace(/\\//g,'-').slice(0,10), noSeries: 'PT' } }}",
        "options": {}
      },
      "id": "5c79b170-ca6d-456d-8aa3-b1067a97c0cd",
      "name": "HTTP - Post Header to BC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -704,
        80
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "5caHilW1m87Snw87",
          "name": "Business Central"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.businesscentral.dynamics.com/v2.0/a18dc497-a8b8-4740-b723-65362ab7a3fb/Pruebas_PS/api/power_solution/ps_api/v2.0/companies(ca9dc1bf-54ee-ed11-884a-000d3a455d5b)/resourcetimesheetheaders(no=\\'' + $node[\"HTTP - Post Header to BC\"].json[\"no\"] + '\\')' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "OData-Version",
              "value": "4.0"
            },
            {
              "name": "If-Match",
              "value": "*"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { resourceNoJobNo: $('Build Header Body').item.json.header.resource_no, description: ($('Build Header Body').item.json.header.description || 'Timesheet from Supabase'), status: 'Open', fromDate: ($('Build Header Body').item.json.header.posting_date || $('Build Header Body').item.json.header.date || $('Build Header Body').item.json.header.from_date).toString().replace(/\\//g,'-').slice(0,10), toDate: ($('Build Header Body').item.json.header.posting_date || $('Build Header Body').item.json.header.date || $('Build Header Body').item.json.header.from_date).toString().replace(/\\//g,'-').slice(0,10) } }}",
        "options": {}
      },
      "id": "f68ee44a-03a1-45df-aa38-d24b3318d814",
      "name": "HTTP - Update Header to BC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -480,
        80
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "5caHilW1m87Snw87",
          "name": "Business Central"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get Headers (synced_to_bc=false)": {
      "main": [
        [
          {
            "node": "Prepare Headers for BC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Headers for BC": {
      "main": [
        [
          {
            "node": "Build Header Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Header Body": {
      "main": [
        [
          {
            "node": "HTTP - Post Header to BC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Lines Processing": {
      "main": [
        [
          {
            "node": "Get Lines for Header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lines for Header": {
      "main": [
        [
          {
            "node": "Prepare Line for BC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Line for BC": {
      "main": [
        [
          {
            "node": "HTTP - Post Line to BC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Post Line to BC": {
      "main": [
        [
          {
            "node": "Mark Line as Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Line as Synced": {
      "main": [
        [
          {
            "node": "Mark Header as Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Headers (synced_to_bc=false)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Post Header to BC": {
      "main": [
        [
          {
            "node": "HTTP - Update Header to BC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Update Header to BC": {
      "main": [
        [
          {
            "node": "Prepare for Lines Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "425cd6e1-de99-43e8-8aea-9a49bf7a68bc",
  "meta": {
    "instanceId": "5f4a76193498dfc211473f5de0a4e75faf68e0d1feb31e98054dc9c9b3f6aa8c"
  },
  "id": "mOgCMI55W3AdIUaG",
  "tags": []
}